<div class="background_wrapper">
  <div class="login_box">
  <div class="logo-img_loginpage">
    <%= image_tag('mizuki_logo.png' , class: 'logo-img') %>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form_box">
      <%= f.email_field :email, autocomplete: "email", placeholder: '　Email' %>
    </div>
    <div class="form_box">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: '　Password' %>
    </div>
    <div class="remember-me_checkbox">
      <p class="remember-me_text">Remember me</p>
      <div class="toggle-btn_box">
        <input type="checkbox" id="toggle-btn" checked />
        <label for="toggle-btn" data-on-label="On" data-off-label="Off"></label>
      </div>
    </div>
    <div class="form_box">
      <%= f.submit "Log in",  html: {id: 'login_btn'} %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>

</div>
