<div class="header_wrapper">
  <div class="header_inner">
    <div class="hamburger_menue_box">
      <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav_unshown">
        <label id="nav-open" for="nav-input"><span class="nav_open_icon"></span></label>
        <label class="nav_unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <div class="hamburger_menue_title">
            <p><%= current_user.username %>'s Menu</p>
          </div>
          <% if current_user %>
            <%= link_to  destroy_user_session_path, method: :delete do %>
              <div class="hamburger_menue_label">
                <span class="hamburger_menue_icon"></span>Logout
              </div>
            <% end %>
          <% else %>
            <%= link_to user_session_path do %>
              <div class="hamburger_menue_label">
                <span class="hamburger_menue_icon"></span>Login
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="header_icon">
      <%#= image_tag('instagram.png' , class: 'header_icon_img') %>
    </div>
    <% if current_user %>
      <%= link_to new_post_path, class: 'add_new' do %>
        <div class="add_new_post_btn">
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<!--▼ボディstart▼-->



<div class="timeline_background">
  <div class="timeline_wrapper">
    <div class="">
      <ul>
        <% @posts.each_with_index do |post,i| %>
        <li class="article_block">
          <div class="article_header_box">
            <div class="post_user">
              <div class="post_user_icon">

              </div>
              <div class="post_user_name">
                <p><%= post.user.username %></p>
              </div>
            </div>
            <div class="post_controll_box">
              <% if current_user == post.user%>
              <label class="post_controll_box_btn" for="<%= " label#{ i }" %>">･･･</label>
              <input class="post_controll_checkbox" type="checkbox" id="<%= " label#{ i }" %>">
                <!--label class="post_controll_box_btn" for="label#{i}">･･･</label>
                <input class="post_controll_checkbox" type="checkbox" id="label#{i}"-->
                <div class="post_controll_menu">
                  <!--非表示ここから-->
                  <p>
                    <%= link_to edit_post_path(post) do %>
                      <span class="article_edit_icon"> edit</span>
                    <% end %>
                  </p>
                  <p>
                    <%= link_to post_path(post),method: :delete, data: { confirm: 'Sure?' } do %>
                      <span class="article_delete_icon"> delete</span>
                    <% end %>
                  </p>
                  <!--ここまで-->
                </div>
              <% end %>
            </div>
          </div>
          <div class="article_image_box">
            <%= image_tag post.img.url unless post.img.blank?%>
          </div>
          <div class="text_content_part">
            <div id='likes_button_<%= post.id %>'>
              <%= render partial: 'likes/like', locals: { post: post } %>
            </div>
            <%#= post.likes.count %>
            <div class="article_text_box">
              <div class="article_title .text--head3">
                <p><%= post.title %></p>
              </div>
              <div class="article_text .text--sub-head2">
                <p><%= simple_format post.body %></p>
              </div>
            </div>
            <% if post.comments.any? %>
            <div class="comments_box">
              <ul>
                <% post.comments.each do |comment| %>
                <li>
                  <div class="comment_wrapper">
                    <div class="comment_content">
                      <span class="text--caption2"><%= comment.user.username %></span>　<%= comment.body %>
                    </div>
                    <div class="comment_controller">
                      <% if current_user == comment.user%>
                        <%= link_to edit_post_comment_path(post_id: post.id, id: comment.id) do %>
                          <span class="comment_edit_icon"></span>
                        <% end %>
                        <%= link_to post_comment_path(post_id: post.id, id: comment.id), {method: "delete"} do %>
                          <span class="comment_delete_icon"></span>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </li>
                <% end %>
              </ul>
            </div>
            <% end %>

            <%= form_for( [post, post.comments.build] ) do |f| %>
              <div class="add_comment_box">
                <%= f.text_field :body, placeholder: ' Add comment...' %>
                <div class="create_comment_btn_box">
                  <%= f.submit "send" %>
                <div>
              </div>
            <% end %>
          </div>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
